.new_rows {
  width: 420px;
  height: 535px;
  padding-right: 20px;
  border-radius: 20px;
}
.new_rows:hover {
  width: 420px;
  height: 535px;
  -webkit-box-shadow: 0px 5px 30px 15px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 5px 30px 15px rgba(0, 0, 0, 0.14);
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}
.new_rows .news_title {
  padding: 20px 0;
  color: #000000;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}
.new_rows .news_title:hover {
  text-decoration: underline;
}
.new_rows .news_rows {
  overflow: auto;
  width: 350px;
  height: 400px;
}
.new_rows .news_rows .mini_rows {
  width: 310px;
  margin: 10px 0;
  color: #000000;
  border-radius: 0 20px 20px 0;
}
.new_rows .news_rows .mini_rows:hover {
  width: 310px;
  margin: 10px 0;
  background: rgba(0, 207, 162, 0.3);
}
.new_rows .news_rows .mini_rows .news_tit {
  font-size: 16px;
  padding: 10px 0 0px 15px;
  line-height: 20px;
}
.new_rows .news_rows .mini_rows .news_data {
  margin-top: 10px;
  padding: 0px 0 10px 15px;
  color: #7d7d7d;
  font-size: 14px;
}
.new_rows .news_button {
  width: 150px;
  height: 40px;
  background: #33b89d;
  border-radius: 10px;
  text-align: center;
  padding-top: 10px;
  margin: 20px auto;
  color: #ffffff;
  font-size: 18px;
}
.new_rows .news_button:hover {
  width: 150px;
  height: 40px;
  background: #248a74;
}