// Файл обнуляющих стилей
@import "nullstyle.scss";

body{
	font-family: 'Inter', sans-serif;
}

.wrapper {
	display: flex;
	max-width: 1920px;
	flex-direction: column;
	overflow: hidden;

.conteiner{
	max-width: 1300px;
	margin: 0px auto
}

// Файл верхнего блока
@import "style_header.scss";



.content {
	flex: 1 1 auto;

.title {
	font-size: 40px;
	color: #33b89d;
	font-weight: 700;
}

.titl {
	font-size: 30px;
	color: #33b89d;

}

.tit {
	font-size: 20px;
	color: #000000;
}

.image{
	margin-top: 100px;
	height: 450px;
  background: url('../img/student.jpg') 0 100px/ 1920px 450px no-repeat fixed;
}


.student {
	background: #d4d2d2;
	height: 350px;
.student_rows {
.student_enrollee {
	display: flex;
		padding-top: 25px;
.student_title {
	font-size: 34px;
	color: #000;
	border-right: 3px solid black;
	padding-right: 50px;
}
.student_button {
		font-size: 20px;
		border-radius: 15px;
		text-align: center;
		padding-top: 12px;
		background: #33b89d;
		color: #ffffff;
		height: 50px;
		width: 230px;
		margin-left: 50px;

		&:hover{
		background: #248a74;
		font-size: 20px;
		height: 50px;
		width: 230px;
		border-radius: 15px;
		cursor: pointer;
		}

}
}
.student_row {
	height: 150px;
	display: flex;
	justify-content: space-between;
	margin-top: 50px;

.student_rowrows{



.row_rows {
	background: #ffffff;
	height: 150px;
	width: 400px;
	border: 3px solid #ffffff;
	border-radius: 25px;

	&:hover{
		border: 3px solid #33b89d;
	height: 150px;
	width: 400px;
	}

	.student_icon {

	}

.student_tit {
	font-size: 20px;
	color: #000;
	font-weight: 700;
	text-align: center;
	margin-top: 20px;

	&:hover{
		text-decoration: underline;
	}

}
.student_text {
	margin: 20px 0 0 20px;
	font-size: 15px;
	color: #919090;
	line-height: 20px;
}
.student_but {
	margin: 20px 20px 0 0;
	padding-bottom: 20px;

.student_name {
	color: #000000;
	text-align: right;
	font-size: 15px;
	text-decoration: underline;
	font-weight: 600;

	&:hover{
		color: #33b89d;
	}

}

}
}
}

}


}
}
hr{
	border: 1px solid #000;

}

.information {
	padding: 20px 0;
	background: #d4d2d2;
.information_title {
	text-align: left;
	padding-bottom: 20px;
	color: #000;	
}
.information_rows {
.row_rows {
	line-height: 30px;
	font-size: 18px;
.information_bold {}
.information_text {}
}
}
}





.vacancy {
	background: #d4d2d2;
	margin: 0 auto;
	height: 1350px;
.vacancy_title {
	text-align: center;
	padding: 20px 0 ;
}
.vacancy_row {


.row_rows {
	padding: 20px;
	margin-bottom: 20px;
	background: #8a8a8a;
	& p{
		font-size: 20px;
	}

.vacancy_box {
	display: flex;
	justify-content: space-between; 
.vacancy_tit {
	color: #4bd1b6;	
	margin-bottom: 20px;
}
.vacancy_money {
	color: #4bd1b6;		
}
}
.vacancy_requirements {
	color: #ffffff;
	font-size: 20px;
	padding-left: 10px;
	& p{
		margin-top: 15px; 
	}
}
}
}
}














// Файл нижнего блока
@import "style_footer.scss";



}

}