// Файл обнуляющих стилей
@import "nullstyle.scss";

body{
	font-family: 'Inter', sans-serif;
}

.wrapper {
	display: flex;
	max-width: 1920px;
	flex-direction: column;
	overflow: hidden;

.conteiner{
	max-width: 1300px;
	margin: 0px auto
}

// Файл верхнего блока
@import "style_header.scss";



.content {
	flex: 1 1 auto;

.title {
	font-size: 40px;
	color: #33b89d;
	font-weight: 700;
}

.titl {
	font-size: 30px;
	color: #33b89d;

}

.tit {
	font-size: 20px;
	color: #000000;
}

.image{
	margin-top: 100px;
	height: 450px;
  background: url('../img/college_glass.jpg') 0 100px/ 1920px 450px no-repeat fixed;
}





.specialization {
	background: #fafafa;	

	.specialization_phon{
height: 450px;		


	
.specialization_row {
	text-align: center;


.specialization_title {
	padding-top: 30px;

}
.specialization_text {
	padding-top: 15px;

}
.specialization_bonus {
	display: flex;
	justify-content: space-between;
	margin: 30px 0px 0 0px;


.bonus_bonuses {
	flex: 0 0 auto;
	height: 170px;
	width: 250px;

	background: #ffffff;
	border-radius: 20px;
	padding: 20px 0;
.specialization_image img{
	height:100px;
	width: 100px;
}
.specialization_tit {
	margin: 15px;
}

}
}

.transition {

.transition_buttons {
	display: flex;
	justify-content: space-between;
	margin: 50px 150px 0 150px;

.transition_name {
	color: #ffffff;
	font-size: 24px;
	padding: 20px 0;



}
.transition_student {
	background: #33b89d;
	border-radius: 20px;
	width: 300px;
	height: 70px;

		& a:hover{
			display: block;
			background: #248a74;
	font-size: 24px;
	width: 300px;
	height: 70px;
	border-radius: 20px;
	cursor: pointer;
		}
	}
.transition_enrollee {
	background: #33b89d;
	width: 300px;
	height: 70px;
	border-radius: 20px;
		& a :hover {
	background: #248a74;
	font-size: 24px;
	padding: 20px 0;
	width: 300px;
	height: 70px;
	border-radius: 20px;
	cursor: pointer;	
	}
}
}
}



}

}
}

.student {
	height: 550px;
.student_title {
	padding-top: 30px;	
	text-align: center;
}
.student_row {
	display: flex;
	justify-content: space-between;
	margin: 30px 0px 0 0px;
.student_students {
height: 400px;
width: 300px;
text-align: center;
background: #fafafa;
border-radius: 0 0 20px 20px;

.student_photo img{
	height: 300px;
	width: 300px;
	border-radius: 20px;
}
.student_name {
padding: 10px 0;	
}
.student_kurs {}
}
}
}



.news {
	background: #e6e6e6;
	height: 550px;
.news_title{
	padding-top: 20px;
	text-align: center;
}
.news_row {
	display: flex;
	justify-content: space-between;
.row_rows {

	margin: 20px 50px 0 0px;
	width: 420px;
	height: 460px;
	padding: 20px 0px 0px 20px;
	border-radius: 20px;

	&:hover{
	width: 420px;
	height: 460px;

	-webkit-box-shadow: 0px 5px 30px 15px rgba(0, 0, 0, 0.14);
	-moz-box-shadow: 0px 5px 30px 15px rgba(0, 0, 0, 0.14);
	box-shadow: 0px 5px 30px 15px rgba(0, 0, 0, 0.14);
	transition: box-shadow 0.3s ease-in-out;
	}

.news_image img{
	
	width: 380px;
	height: 200px;
	border-radius: 20px;
	cursor: pointer;

}
.news_data {
	margin: 10px 0;

	width: 400px;
	color: #7d7d7d;
	font-size: 14px;
}
.news_name {
	margin: 10px 0;

	width: 400px;
	color: #000000;
	line-height: 25px;
	font-size: 25px;


	&:hover{
	width: 400px;
	color: #248a74;
	line-height: 25px;
	font-size: 25px;
	cursor: pointer;	
	}
}
.news_text {
	margin: 10px 0;
	overflow: auto;

	word-spacing: 3px;
	width: 350px;
	height: 90px;
	color: #000000;
	line-height: 18px;
	font-size: 14px;
}
}
.new_rows {

	margin-top: 20px;
	width: 420px;
	height: 460px;
	padding-right: 20px;
	border-radius: 20px;	

	&:hover{
	width: 420px;
	height: 460px;

	-webkit-box-shadow: 0px 5px 30px 15px rgba(0, 0, 0, 0.14);
	-moz-box-shadow: 0px 5px 30px 15px rgba(0, 0, 0, 0.14);
	box-shadow: 0px 5px 30px 15px rgba(0, 0, 0, 0.14);
	transition: box-shadow 0.3s ease-in-out;

	}
.news_title {
	margin-bottom: 20px;

	color: #000000;

	font-size: 25px;
	font-weight: 700;
	text-align: center;


	&:hover{
		text-decoration: underline;
	}
}
.news_rows {
	overflow: auto;
	width: 350px;
	height: 350px;
 
.mini_rows {
	width: 310px;
	margin: 10px 0;
	color: #000000;
	border-radius: 0 20px 20px 0;


		&:hover{
	width: 310px;
	margin: 10px 0;

	background: rgb(0%, 81.18%, 63.53%, 0.3);;
	}

.news_tit {
	font-size: 16px;
	padding: 10px 0 0px 15px;
	line-height: 20px;

}
.news_data {
	margin-top: 10px;
	padding: 0px 0 10px 15px;
	color: #7d7d7d;
	font-size: 14px;		
}
}
}
.news_button{
	width: 150px;
	height: 40px;

	background: #33b89d;
	border-radius: 10px;
	text-align: center;
	padding-top: 10px;
	margin: 4px auto;
	color: #ffffff;
	font-size: 18px;

	&:hover{
	width: 150px;
	height: 40px;
	background: #248a74;
	}
}
}

}
}

// Файл нижнего блока
@import "style_footer.scss";



}

}